.footer {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  background-color: rgba(0, 0, 0, 0.2);
  min-height: 100px;
}

.footerContent .paragraph {
  margin-bottom: 10px;
}
