.main {
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  max-width: 80%;
  margin: 0 auto;
  min-height: calc(100vh - 250px);
}

.hero {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 50px;
}

@media (min-width: 1024px) {
  .hero {
    width: 100%;
    padding: 50px 0;
    flex-direction: row;
  }
}

.slogan {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 40px;
}

@media (min-width: 1024px) {
  .slogan {
    align-items: flex-start;
  }
}

.slogan .h1 {
  font-size: 36px;
  margin-bottom: 20px;
}

@media (min-width: 1024px) {
  .slogan .h1 {
    display: flex;
    flex-direction: column;
    align-items: start;
  }
}

.slogan .h1 div:first-child {
  font-size: 35px;
}

@media (min-width: 1024px) {
  .slogan .h1 div:first-child {
    font-size: 50px;
  }
}

@media (min-width: 1600px) {
  .slogan .h1 div:first-child {
    font-size: 80px;
  }
}

@media (min-width: 2000px) {
  .slogan .h1 div:first-child {
    font-size: 100px;
  }
}

@media (min-width: 2400px) {
  .slogan .h1 div:first-child {
    font-size: 120px;
  }
}

.slogan .h1 div:last-child {
  font-size: 20px;
}

.btnWrap {
  position: relative;
}

.btn {
  display: block;
  width: max-content;
  padding: 10px;
  background: transparent;
  color: #fff;
  text-decoration: none;
  border-radius: 5px;
  font-weight: bold;
}

.btn:hover {
  color: rgba(255, 255, 255, 0.5);
  border-color: rgba(255, 255, 255, 0.5);
}

.btn:hover::after,
.btn:hover::before {
  content: '';
  position: absolute;
  background-color: rgba(255, 255, 255, 0.5);
}

.btn:hover::before {
  width: 90%;
  height: 0.1px;
  bottom: 0;
  left: 10%;
}

.btn:hover::after {
  height: 75%;
  width: 0.1px;
  right: 0;
  top: 25%;
}

.rocketImage {
  width: 100px;
  margin-bottom: 150px;
}

@media (min-width: 1024px) {
  .rocketImage {
    margin-bottom: 0;
    margin-top: 105px;
  }
}

@media (min-width: 1440px) {
  .rocketImage {
    margin-top: 210px;
  }
}

@media (min-width: 1700px) {
  .rocketImage {
    margin-top: 280px;
  }
}

@media (min-width: 2560px) {
  .rocketImage {
    width: 150px;
    margin-top: 480px;
  }
}
